$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
$primary-text-shadow: rgb(0, 0, 0) 3px 3px;
$gradient: linear-gradient(135deg, rgba(191, 35, 165, 0.4) 0%, rgba(0, 87, 137, 0.4) 100%);
$white: hsla(0, 0%, 100%, 0.9);
@font-face {
    font-family: Quicksand;
    src: url(Quicksand_Book_Oblique.otf);
}
// 12 column responsive grid layout
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    scroll-behavior: smooth;
    font-size: 100%; //by default 16px
    font-family: Quicksand;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url(abstract.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // font-family: $secondary-font;
    line-height: 2em;
    letter-spacing: 0.25px;
    font-weight: 300;
    margin: 0 auto;
}
#content-wrap {
    position: relative;
    min-height: 100vh;
}


/****************** HOME PAGE ******************/
#homePage {
    background: $gradient;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: inline-table;
    scroll-margin: 5em;
}
#homeTitle {
    font-size: 10rem; //scales with 100%(16px) value from the html element
    text-shadow: rgb(183, 55, 133) 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 82%;
}
#home, .menu, .divider {
    font-size: 1.5rem;
    font-weight: 350;
    line-height: 0.9em;
    letter-spacing: 0.25px;
    color: $white;
    text-shadow: $primary-text-shadow;
    margin: 0 auto;
    display: inline-flex;
    justify-content: left;
    padding: 5px;
    position: relative;
}
.title {
    font-size: 3rem;
    font-weight: 400;
    color: $white;
    text-shadow: $primary-text-shadow;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}
.header {
    background-color: #000000;
    border-bottom: 2px solid #b82669;
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 0.8em 0 0.8em 1em;
}
#footer {
    position: relative;
    bottom: 0;
    background-color: rgb(54 37 147);
    width: 100%;
    height: 2.2rem;
    padding-top: 2px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #b4abe6d9;
    font-family: $secondary-font;
}
.non_selectable {
    user-select: none;
}


/************************** OTHER PAGES ************************/
#aboutPage {
    height: 90vh;
    width: -webkit-fill-available;
    display: block;
    background: black;
    scroll-margin-top: 3.7em;
}
#aboutTitle {
    position: relative;
    top: 1em;
}
#aboutPanel {
    // background: $gradient;
    background: #252525;
    height: inherit;
}
#aboutContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    gap: normal;
    justify-content: center;
    background-color: #86154938;
    border-color: #b82669;
    border-style: solid;
    border-width: 1px;
    padding: 1.5em;
    margin: 4em 12em 1em 12em;
    font-size: 1.3rem;
}
#about {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    letter-spacing: 0.25px;
    font-weight: 300;
    color: $white;
    text-shadow: $primary-text-shadow;
    background-color: #86154938;
    border-color: #b82669;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1em 1em 2em;
    margin: 0 1em 2em 1em;
}
#skills {
    background-color: #86154938;
    border-color: #b82669;
    border-style: solid;
    border-width: 1px;
    width: 20em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img {
    width: 100%;
    height: auto;
    transform: scale(0.8);
}
hr {
    width: 82%;
    margin-top: 2em;
    border-radius: 2px;
    border: #b82669;
    background-color: #b82669;
    height: 0.1em;
}
#contactTitle {
    margin-top: 2rem;
}
#contactInfo {
    // background-color: rgba(154, 130, 228, 0.32);
    background-color: #86154938;
    border-color: #b82669;
    border-style: solid;
    border-width: 1px;
    margin: 2rem 0 0 0;
}
#phone {
    -ms-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
}
#email {
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
}
#github {
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}
#contactEmail, #contactPhone, #contactGitHub, #gitLink {
    color: rgb(211, 211, 211);
    text-shadow: $primary-text-shadow;
    text-decoration: none;
    position: relative; // For gitlink to have proper hover animation
}
.contact-img {
    height: 4em;
    width: 4em;
    display: flex;
    flex-direction: column;
    float: left;
    clear: both;
    content: "";
}
.cell {
    display: flex;
    flex-direction: row;
    line-height: 2em;
    margin: 2em 0em 1em 5em;
}
#contactPhone {
    margin-top: 1em;
}


/********* SCROLLBAR *********/
::-webkit-scrollbar-thumb {
    background: rgb(165, 64, 119);
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background: rgb(120, 108, 143);
}
::-webkit-scrollbar {
    width: 11px;
}


/*************************** ANIMATIONS ***************************/
@media (hover: hover) { /* Only works if the deivce supports hover state*/
    input:hover {
        box-shadow:
            1px 1px #53a7ea,
            2px 2px #53a7ea,
            3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition-duration: 0.4s;
    }
    .menu:after, .code:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: close-quote;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .code:after {
        background-color: #d67db5;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;

    }
    .menu:hover:after, .code:hover:after {
        width: 100%; 
        left: 0px;
    }
}


/*************************** Support for different screen sizes *********************************/
@media only screen and (min-width: 500px) and (max-width: 1650px) {
    body {background-attachment: fixed; background-size: cover; background-position-x: center;}
    html {font-size: 0.8rem; line-height: 1.2em;}
    #aboutContainer {margin: 5em 5em 0 5em;}
    #aboutPage {height: 60vh;}
    #aboutPanel {padding-bottom: 2em;}
}
@media only screen and (min-width: 200px) and (max-width: 499px) {
    body {background: black;}
    html {font-family: $secondary-font; font-size: 0.6rem; line-height: 1em;}
    #homeTitle {font-size: 5rem; text-shadow: #b73785 3px 2px;}
    .cell, #gitLink, #about {text-shadow: black 1px 1px;}
    #aboutContainer {margin: 5em 1em 0 1em;}
    #aboutPage {height: 70vh;}
    #aboutPanel {padding-bottom: 2em;}
}


// Animate.css tweaks
#homeTitle {
    animation-delay: 0.7s;
}
#aboutContainer {
    animation-duration: 1.5s;
}