/* BAD DESIGN WITH ABSOLUTE VALUES, NOT RESPONSIVE*/
p {
    text-align: left;
    margin-bottom: 8px;
}
#schoolPage {
    background: linear-gradient(135deg, rgba(191, 35, 165, 0.4) 0%, rgba(0, 87, 137, 0.4) 100%);
}
#schoolBG {
    background-image: url(js.jpg);
    min-height: 100vh;
    padding-top: 70px;
}
#schoolPanel, #sourceCodePanel {
    background-color: rgba(210, 210, 210, 0.4);
    overflow-y: auto;
    width: 98%;
    margin-left: 1%;
}
.schoolDivs {
    color: black;
    background-color: rgba(245, 245, 245, 0.85);
    display: inline-grid;
    height: 250px;
    width: 400px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 29px;
    text-align: center;
    position: relative;
}
.val_in {
    color: black;
    padding-top: 20px;
    display: flex;
}
input[type=button] {
    position: absolute;
    top: 58%;
    left: 41%;
    width: 30%;
    font-family: inherit;
}
#submit2, #submit4, #submit5 {
    top: 45%;
    left: 55%;
}
#submit3 {
    left: 46%;
}
#submit5 {
    top: 31%;
    left: 58%;
}
input[type=number] {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
}
#tri2, #agm2, #quad2{
    top: 34%;
}
#tri3, #quad3{
    top: 47%;
}
#agm1, #agm2 {
    left: 43%;
}
#quad1, #quad2, #quad3 {
    left: 35%;
}
#diff1, #diff2 {
    left: 43%;
}
#diff2 {
    top: 34%;
}
#dia {
    top: 20.5%;
    left: 51%;
    width: 42%;
}
.sol {
    display: block;
    width: 395px;
    height: 105px;
    background-color: rgba(210, 210, 210, 0.8);
    text-align: initial;
    padding-top: 5px;
    padding-left: 5px;
    outline-color: mediumvioletred;
    outline-style: auto;
}
#quad_sol, #quad_sol2, #quad_yn, #tri_sol {
    height: 65px;
}
#diff_sol, #diff_sol2 {
    height: 28px;
}
#circle_sol, #circle_sol2 {
    height: 25px;
    width: 200px;
}
#code {
    outline-color: mediumvioletred;
    outline-style: auto;
    left: 40%;
    width: 220px;
    height: 80px;
    padding-top: 5px;
    display: block;
    margin-bottom: 1%;
    text-align-last: center;
    position: relative;
}
#js, #html, #css {
    font-family: inherit;
    margin-left: 20px;
    text-decoration: none;
    color: dodgerblue;
    position: relative;
    display: inline-block;
    left: -10px;
    -webkit-text-stroke: thin;
}
@media screen and (max-width: 520px) {
    body {
        background-size: cover;
        background-position-x: center;
    }
    .loaderContainer {
        top: 35%;
        left: 35%;
        width: 100px;
        height: 100px;
    }
    #loadText {
        font-size: 20px;
    }
    #homeTitle {
        font-size: 60px;
    }
    #home, .menu, .divider {
        font-size: initial;
    }
    .title {
        font-size: 38px;
        padding-top: 10px;
    }
    #content-wrap {
        padding-bottom: 1.7rem;
    }
    #footer {
        font-size: 10px;
        height: 1.2rem;
    }
    #code {
        left: 8%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .schoolDivs {
        width: 290px;
        margin: 10px;
        padding-right: 10px;
        margin-left: 14px;
    }
    #schoolPanel {
        width: 97%;
        margin-left: 1%;
    }
    input[type=number] {
        left: 40%;
        width: 40%;
    }
    input[type=button] {
        left: 47%;
    }
    #submit2 {
        left: 62%;
    }
    #submit3 {
        left: 51%;
    }
    #submit4 {
        left: 60%;
    }
    #submit5 {
        top: 32%;
        left: 66%;
        width: 25%;
    }
    #agm1, #agm2 {
        left: 56%;
    }
    #quad1, #quad2, #quad3 {
        left: 45%;
    }
    #diff1, #diff2 {
        left: 54%;
    }
    #dia {
        top: 20%;
        left: 62%;
        width: 30%;
    }
    .sol {
        width: 280px;
    }
}